version: '3'

services:
  scanner:
    build: .
    container_name: level1_scanner
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - TZ=Asia/Shanghai